<ion-app>
  <ion-menu side="start" menuId="first" contentId="main">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>Start Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>

        <ion-item  [routerLink]="[ '/home' ]">Home</ion-item>
        
        <ion-item  [routerLink]="[ '/locations' ]">locations</ion-item>
        <ion-item  [routerLink]="[ '/episodes' ]">episodes</ion-item>
        <ion-item  [routerLink]="[ '/cita' ]">citas</ion-item>
       
        
      </ion-list>
    </ion-content>
  </ion-menu> 
  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>



