<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      CITA
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">  
    <ion-list *ngFor="let cita of citas">
        <ion-item >
          <ion-avatar slot="start">
            <img [src]="cita.image">
          </ion-avatar>
          <ion-label>
            <h2>{{ cita.quote }}</h2>
            <h3>{{ cita.by }}</h3>
           
          </ion-label>
        </ion-item>
    </ion-list>

   

</ion-content>

